div.title {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 12px;
}

.navbar {
    width: 100%;
    margin: 0 auto;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}