@model PersonalSite.WebUI.Models.PostListViewModel

@{
    ViewBag.Title = "BlogList";
}

@section featured {
    <div class="featured-post">
        <h1>Featured Post</h1>
        <div class="hero-unit">
            <p>
                This is the featured post.
            </p>
        </div>
    
    </div>
}