@model PersonalSite.WebUI.Models.PostListViewModel

@{
    ViewBag.Title = "BlogList";
}

@section featured {
    <div class="hero-unit">
        <h1>@ViewBag.Title</h1>
        <h2>Hello World!</h2>

        <p>
            Woo stuff!
        </p>
    </div>
}