<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/less/bootstrap.less" rel="stylesheet" />
    <link href="~/Content/less/responsive.less" rel="stylesheet" />
    <link href="~/Content/css/basic.css" rel="stylesheet" />
    <style type="text/css" >
          body {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 40px;
          }
     </style>
</head>
<body>
    <div class="title">The Musings of a Geek</div>

    @Html.Partial("_NavBar")

    <div id="container">
        @RenderSection("featured", required: false)
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
